<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./asset/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./asset/lib/footer.js"></script>
    <script src="./asset/lib/carousel.js"></script>
    <script src="./asset/lib/main.js"></script>
    <script src="./asset/lib/card.js"></script>
    <script src="./asset/lib/category.js"></script>
    <script src="./asset/lib/filter.js"></script>
    <script src="./asset/lib/navbar.js"></script>
    <script src="./asset/lib/login.js"></script>
    <script src="./asset/lib/register.js"></script>
    <script src="./asset/lib/cart.js"></script>
    <script src="./asset/lib/msgsc.js"></script>
</head>

<body>
    <div id="app">
        <!-- Navigation -->
        <navbar-cp v-bind:isloginfromparent="sentIsLogin" @islogout="getislogout" @stremovefromnavbar="getstremovefromnavbar" @stremoveregfromnavbar="getstremoveregfromnavbar" :getcartsfromparent="carts"></navbar-cp>
        
        <msg-sc v-if="msgscbuy" :getmsgsc="msgscbuy"></msg-sc>
        <!-- Page Content -->
        <main-cp v-bind:isloginfromparent="sentIsLogin" v-bind:islogoutfromparent="sentIsLogout" @sentcartstoparent="getcartsfrommain" :getiditemfromparent="idItem"></main-cp>

      
        <!-- modal cart-->
        <cart-cp :cartsfromparent="{carts, sentIsLogin}" @sentiditem="getiditemfromcart" @sentscbuy="getscbuy"></cart-cp>

        <!-- modal login -->
            <login-cp @islogin="getIsLogin" v-bind:getstremovefromparent="stRemove"></login-cp>
        <!-- /modal login -->

        <!-- modal register -->
            <register-cp :getstremoveregfromparent="stRemoveReg"></register-cp>
       
        <!-- Footer -->
        <footer-cp></footer-cp>
       



          <!-- modal history -->

          <!-- <div class="modal fade" id="history" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">My Cart</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <th scope="row">Name</th>
                                <td> {{loginName}} </td>
                            </tr>
                            <tr>
                                <th scope="row">Address</th>
                                <td> {{loginAddress}} </td>
                            </tr>
                            <tr>
                                <th scope="row">Phone</th>
                                <td> {{loginPhone}} </td>
                            </tr>
                        </table>
                        <div v-if="dataHistory.length < 1">
                            <h3>You dont have transaction history</h3>
                        </div>
                        <table class="table" v-if="dataHistory.length > 0" v-for="(data, index) in dataHistory">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Items</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"> {{index+1}} </th>
                                    <td> {{data.itemCart}} 
                                        <span v-for="item in data.itemCart">
                                            <p> {{item}} </p>
                                        </span>
                                    </td>
                                    <td> {{data.totalPrice}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer" v-if="carts.length > 0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="buy()">Submit</button>
                        <p v-if="msgPush" style="color: green"> {{msgPush}} </p>
                    </div>
                </div>
            </div>
        </div>  -->
    <!-- /modal history -->

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        let base_url = 'http://localhost:3000'
        var app = new Vue({
            el: '#app',
            data: {
                items: [],
                itemToShow: [],
                carts: [],
                totalPrice: 0,
               
                isLogin: false,
                isLogout: false,
                token: false,
                isReg: '',
               
                stLogin: '',
                loginName: '',
                loginAddress: '',
                loginPhone: '',
                msgPush: '',
                dataHistory: [],



                sentIsLogin: '',
                isToken: '',
                sentIsLogout: '',
                stRemove: '',
                stRemoveReg: '',
                carts: [],
                idItem: '',
                msgscbuy: ''
            },
            methods: {
               

               

               

              
                history(){
                    axios({
                        method: 'GET',
                        url: base_url +'/transactions',
                        headers: {
                            token: localStorage.getItem('token')
                        }
                    })
                    .then((result) => {
                        this.dataHistory = result.data
                    })
                    .catch((err) => {
                        console.log(err);
                        
                    });
                },




                getIsLogin(value){
                    this.sentIsLogin = value
                },

                getislogout(value){
                    this.sentIsLogout = value
                },

                getstremovefromnavbar(value){
                    this.stRemove = value
                },

                getstremoveregfromnavbar(value){
                    this.stRemoveReg = value
                },

                getcartsfrommain(value){
                    this.carts = value
                },

                getiditemfromcart(value){
                    this.idItem = value
                },

                getscbuy(value){
                    this.msgscbuy = value
                }
            },
            
            mounted() {
                this.isToken = localStorage.getItem('token')
                if (this.isToken) {
                    this.sentIsLogin = this.isToken
                }
            },
        })
    </script>
</body>

</html>